*{
    background-color: pink;
}

.pwebsite{
    display: flex;
    padding: 10%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.pwebsite-img{
    height: 30%;
    width: 30%;
    border-radius: 10%;
    object-fit: cover;
    border-color: chartreuse;
    border-style: solid;
    border-width: 50px;
}

.pwebsite-details{
    align-self: center;
    color: blueviolet;
}

.pwebsite-details #more-me{
    padding-left: 15px;
    color:aquamarine;
    background-color: darkgreen;
}
